<section class="page nohosts">
  <div class="alert alert-warning" role="alert">
    <h4>No hosts to show</h4>
    <p>Please start guv web with a <code>HOSTS</code> environmental variable. E.g.:</p>
    <pre>$ HOSTS=https://locahost:8001 guv web</pre>
  </div>
</section>
