<div>
  <button type="button" class="btn btn-default btn-xs btn-default process-start" data-hook="startbutton"><i class="fa fa-play"></i> Start</button>
  <button type="button" class="btn btn-default btn-xs btn-danger process-remove" data-hook="removebutton"><i class="fa fa-remove"></i> Remove</button>
</div>
