<section class="page process">
  <div class="row">
    <div class="col-md-12">
      <h1 data-hook="process-name">{{model.name}}</h1>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">Aborted</h4>
        </div>
        <div class="panel-body">
          <div class="alert alert-danger">
            <p>{{model.name}} was aborted because it failed to start too many times.</p>
            <p>Please use the logs and exception tabs to diagnose the problem and the start button to try again.</p>
          </div>
          <div data-hook="startbutton"></div>
          <div data-hook="removebutton"></div>
        </div>
      </div>
    </div>
  </div>
</section>
