<section class="page processes">
  <div class="row">
    <div class="col-md-12">
      <h1>{{model.name}}</h1>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">Stopped</h4>
        </div>
        <div class="panel-body">
          <p>{{model.name}} is not running.</p>
          <div data-hook="startbutton"></div>
          <div data-hook="removebutton"></div>
        </div>
      </div>
    </div>
  </div>
</section>
