<div class="panel panel-primary process-stopped">
  <div class="panel-heading">
    <h4 class="panel-title">{{model.name}}</h4>
  </div>
  <div class="panel-body">
    <p>{{model.name}} is not running.</p>
    <div data-hook="startbutton"></div>
    <div data-hook="removebutton"></div>
  </div>
</div>
