<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">{{model.name}}</h4>
  </div>
  <div class="panel-body">
    <p><i class="fa fa-circle-o-notch fa-spin"></i> {{model.name}} status unknown...</p>
  </div>
</div>
