<form data-hook="form">
  <h2>Install app</h2>
  <p>To install an app, specify a git url that contains a package.json file at it's root.</p>
  <p>If you omit the app name, it will be taken from the package.json file.</p>
  <fieldset data-hook="field-container"></fieldset>
  <div class="buttons">
    <button class="btn btn-default" data-hook="cancel-button" type="button">Cancel</button>
    <button class="btn btn-success" data-hook="submit-button" type="submit">Clone</button>
  </div>
</form>
