<section class="page">
  <div class="alert alert-info" role="alert" data-hook="preview">
    <p><i class="fa fa-circle-o-notch fa-spin"></i> <span data-hook="preview-message">Some text to show before partial response is loaded</span></p>
  </div>

  <pre data-hook="output-text"></pre>

  <div class="alert alert-danger" role="alert" data-hook="error-alert" style="display: none">
    <h4 data-hook="error-header">I am an error heading</h4>
    <p data-hook="error-message">I am an error message</p>
    <button class="btn btn-primary" data-hook="back-button">Back</button>
  </div>

  <div class="alert alert-success" role="alert" data-hook="success-alert" style="display: none">
    <h4 data-hook="success-header">I am an success heading</h4>
    <p data-hook="success-message">I am a success message</p>
    <button class="btn btn-primary" data-hook="done-button">Done</button>
  </div>
</section>
