<section class="page uknown">
  <div class="alert alert-warning" role="alert">
    <h4>Unknown status</h4>
    <p>Host <strong>{{model.name}}</strong> has an unknown status of <code>{{model.status}}</code></p>
    <p>This is probably a bug, you should <a href="https://github.com/tableflip/guvnor/issues/new">open an issue</a>.</p>
  </div>
</section>
