<section class="page processes">
  <div class="row">
    <div class="col-md-12">
      <h1>{{model.name}}</h1>
      <div class="panel panel-primary table-panel apps">
        <div class="panel-heading">
          <h4 class="panel-title">Apps</h4>
          <button type="button" class="btn btn-default btn-xs install-button" data-hook="installbutton"><i class="fa fa-cloud-download"></i> Install</button>
        </div>
        <div class="panel-body">
          <table class="table table-striped apps-list">
            <thead>
              <tr>
                <th class="name">Name</th>
                <th class="user">User</th>
                <th class="url">URL</th>
                <td class="remove">&nbsp;</td>
              </tr>
            </thead>
            <tbody data-hook="apps"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
