<section class="page badsignature">
  <div class="alert alert-danger" role="alert">
    <h4>Could not connect to {{model.name}} - message signature was invalid</h4>
    <p>This usually means that you did not configure boss-web correctly.</p>
    <p>Please see the <a href="https://github.com/tableflip/boss-web#step-3-still-on-the-boss-machine-add-a-remote-user">README entry about adding remote users</a>.</p>
  </div>
</section>
