<section class="page badsignature">
  <div class="alert alert-danger" role="alert">
    <h4>Could not connect to {{model.name}} - connection reset</h4>
    <p>Has something disrupted your network conneciton?</p>
  </div>
</section>
