<section class="page badsignature">
  <div class="alert alert-danger" role="alert">
    <h4>Could not connect to {{model.name}} - connection refused</h4>
    <p>Is boss running on the remote machine?</p>
  </div>
</section>
