<section class="page badsignature">
  <div class="alert alert-danger" role="alert">
    <h4>Could not connect to {{model.name}} - host not found</h4>
    <p>Either the configured hostname is wrong or your DNS is b0rked</p>
  </div>
</section>
