<section class="page incompatible">
  <div class="alert alert-danger">
    <p><strong>{{name}} is running a version of guvnor incompatible with this version of guvnor-web</strong></p>
    <p>Please run a version that <a href="http://semver.org/">satisfies</a> {{requiredVersion}}.</p>
  </div>
</section>
