<section class="page incompatible">
  <div class="alert alert-danger">
    <p><strong>{{name}} is running a version of boss incompatible with this version of boss-web</strong></p>
    <p>It is running {{version}} - instead please run a version that <a href="http://semver.org/">satisfies</a> {{requiredVersion}}.</p>
  </div>
</section>
