<section class="page incompatible">
  <div class="alert alert-danger">
    <p><strong>{{name}} is running a version of boss incompatible with this version of boss-web</strong></p>
    <p>It is running {{version}} - please upgrade it to {{requiredVersion}} or later</p>
  </div>
</section>
