<section class="page processes">
  <div class="row">
    <div class="col-md-12">
      <h1>{{model.name}}</h1>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">Install app</h4>
        </div>
        <div class="panel-body" data-hook="view">
          <form data-hook="install-form">
            <fieldset data-hook="field-container"></fieldset>
            <div class="buttons">
              <button class="btn btn-default btn-sm" data-hook="reset" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
