<div>
  <h2><i class="mdi-hardware-computer"></i> {{model.url}}</h2>
  <div class="alert alert-info" role="alert"><i class="fa fa-circle-o-notch fa-spin"></i> Connecting to {{model.url}}...</div>
</div>
