<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">Resource usage</h4>
  </div>
  <div class="panel-body resource-data">
    <div class="resource-data-graph" data-hook="cpu-usage"></div>
    <div class="resource-data-graph" data-hook="memory-usage"></div>
  </div>
</div>