<div>
  <h2><i class="mdi-hardware-computer"></i> {{model.url}}</h2>
  <div class="alert alert-danger" role="alert">
    <i class="mdi-alert-error"></i>
    Could not connect to {{model.url}} - server error
  </div>
</div>
