<ul class="process">
  <li class="processName"><a href="/host/{{model.collection.parent.name}}/process/{{model.name}}"><i data-hook="process-icon"></i> <span data-hook="process-name">{{model.name}}</span></a></li>
</ul>
