<div class="panel panel-primary table-panel exceptions">
  <div class="panel-heading panel-heading-exceptions">
    <h4 class="panel-title">{{model.name}} - Exceptions</h4>
  </div>
  <div class="panel-body panel-exceptions">
    <ul class="exceptions" data-hook="exception-list">
      <li class="date">Date</li>
      <li class="code">Code</li>
      <li class="message">Message</li>
      <li class="list" data-hook="exceptions"></li>
    </ul>
  </div>
</div>
