<div class="row">
  <div class="col-xs-5">
    <input data-hook="key">
  </div>
  <div class="col-xs-5">
    <input data-hook="value">
  </div>
  <div class="col-xs-2">
    <a data-hook="remove-field" class="remove-field"><i class="fa fa-minus-circle"></i> remove</a>
  </div>
</div>
