<body>
  <div data-hook="modal"></div>
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-hook="toggle-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand" href="/">The Guv'nor</span>
        <small>Hello {{model.name}}</small>
      </div>
      <div class="collapse navbar-collapse" data-hook="nav-container">
        <ul class="nav navbar-nav side-nav host-list" data-hook="host-list">
        </ul>
      </div>
    </nav>
    <div id="nav-shadow"></div>
    <div id="page-wrapper" data-hook="page-container"></div>
    <footer>
      <small><a href="http://github.com/tableflip/guvnor" class="guvnor-web">guvnor</a> <span data-hook="version">5</span> by <a href="http://tableflip.io" class="tableflip">TABLEFLIP</a></small>
      <small>A side effect of the JavaScript Adventure Club</small>
    </footer>
  </div>
</body>
