<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-hook="close-button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" data-hook="title"></h4>
      </div>
      <div class="modal-body" data-hook="modal-content">
      </div>
      <div class="modal-footer" data-hook="modal-buttons">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-hook="cancel-button">Close</button>
        <button type="button" class="btn btn-primary" data-hook="ok-button">Save changes</button>
      </div>
    </div>
  </div>
</div>
