<section class="page process">
  <div class="row">
    <div class="col-md-12">
      <h1 data-hook="process-name">{{model.name}}</h1>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">Errored</h4>
        </div>
        <div class="panel-body">
          <div class="alert alert-danger">
            <p>{{model.name}} errored.</p>
            <p>This means an error was thrown by your module.</p>
            <p>Please check the exception list or logs for more information.</p>
          </div>
          <span data-hook="startOrRemove"></span>
        </div>
      </div>
    </div>
  </div>
</section>
