<section class="page process">
  <div class="row">
    <div class="col-md-12">
      <h1 data-hook="process-name">{{model.name}}</h1>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">Failed</h4>
        </div>
        <div class="panel-body">
          <div class="alert alert-danger">
            <p>{{model.name}} failed to initialise.</p>
            <p>This usually means something was wrong with the process configuration.</p>
            <p>Please double check the script path, current working directory, user/group, etc.</p>
          </div>
          <span data-hook="startOrRemove"></span>
        </div>
      </div>
    </div>
  </div>
</section>
