<section class="page process">
  <div class="row">
    <div class="col-md-12">
      <h1 data-hook="process-name">{{model.name}}</h1>
      <div data-hook="details"></div>
      <div data-hook="memory"></div>
      <div data-hook="cpu"></div>
    </div>
  </div>
</section>
