<section class="page processes">
  <div class="row">
    <div class="col-md-12">
      <h1>{{model.name}}</h1>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">Starting</h4>
        </div>
        <div class="panel-body">
          <p><i class="fa fa-circle-o-notch fa-spin"></i> {{model.name}} starting...</p>
          <div data-hook="stopbutton"></div>
        </div>
      </div>
    </div>
  </div>
</section>
