<section class="page processes">
  <div class="row">
    <div class="col-md-12">
      <h1>{{model.name}}</h1>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">Unresponsive</h4>
        </div>
        <div class="panel-body">
          <p>{{model.name}} is unresponsive. You may try to debug, restart or stop the process.</p>
          <div data-hook="debugbutton"></div>
          <div data-hook="restartbutton"></div>
          <div data-hook="stopbutton"></div>
        </div>
      </div>
    </div>
  </div>
</section>
