<form>
  <h3>Set {{model.name}} ref</h3>
  <fieldset data-hook="field-container"></fieldset>
  <div class="buttons">
    <button class="btn btn-default" data-hook="cancel-button" type="button">Cancel</button>
    <button class="btn btn-success" data-hook="submit-button" type="submit">Set</button>
  </div>
</form>
