<tr>
  <td class="name" data-hook="name">{{model.name}}</td>
  <td class="user" data-hook="user">{{model.user}}</td>
  <td class="ref" data-hook="ref">{{model.ref}}</td>
  <td class="url" data-hook="url">{{model.url}}</td>
  <td class="remove" data-hook="remove">
    <button type="button" class="btn btn-success btn-xs start" data-hook="startbutton"><i class="fa fa-play"></i> Start</button>
    <button type="button" class="btn btn-danger btn-xs remove" data-hook="removebutton"><i class="fa fa-remove"></i> Remove</button>
    <button type="button" class="btn btn-default btn-xs update" data-hook="updatebutton"><i class="fa fa-refresh"></i> Update refs</button>
    <button type="button" class="btn btn-default btn-xs update" data-hook="setbutton"><i class="fa fa-exchange"></i> Set ref</button>
  </td>
</tr>
