<tr>
  <td class="name" data-hook="name">{{model.name}}</td>
  <td class="user" data-hook="user">{{model.user}}</td>
  <td class="url" data-hook="url">{{model.url}}</td>
  <td class="remove" data-hook="remove">
    <button type="button" class="btn btn-default btn-xs start" data-hook="startbutton"><i class="fa fa-play"></i> Start</button>
    <button type="button" class="btn btn-danger btn-xs remove" data-hook="removebutton" data-toggle="modal" data-target="#myModal"><i class="fa fa-remove"></i> Remove</button>
  </td>
</tr>
