<form>
  <p>Choose a ref from the list below:</p>
  <hr>
  <fieldset data-hook="field-container"></fieldset>
  <hr>
  <div class="buttons">
    <button class="btn btn-default" data-hook="cancel-button" type="button">Cancel</button>
    <button class="btn btn-primary" data-hook="submit-button" type="submit">Set</button>
  </div>
</form>
