<li class="host-name">
  <ul>
    <li><a href="/host/{{model.name}}"><i class="fa fa-desktop"></i> {{model.name}}</a></li>
    <li class="processes"><a href="/host/{{model.name}}/apps"><i class="fa fa-code-fork"></i> Apps</a></li>
    <li class="processes"><a href="/host/{{model.name}}/processes"><i class="fa fa-tasks"></i> Processes</a></li>
    <li class="process-list" data-hook="process-list"></li>
  </ul>
</li>
