.install-log
  list-style: none
  padding: 5px 0
  margin: 20px
  background-color: #000
  color: #FFF
  font-family: 'Lucida Console', Monaco, monospace
  height: 350px
  overflow: auto

  li
    padding: 0 5px
    white-space: nowrap

  li.error
    background-color: #330100
