
footer
  text-align: right
  color: #AAA
  padding: 50px 31px 10px 31px

footer small
  display: block
  margin-bottom: 10px

footer a, footer a:visited
  color: #999
  text-decoration: underline

footer a:hover, footer a:active
  color: #999

footer a.tableflip
  display: inline-block
  padding-left: 19px
  background-repeat: no-repeat
  background-image: url('/images/tableflip.png')
  background-size: 16px 16px
  margin-left: 2px

footer a.guvnor-web:hover
  color: highlight

footer a.tableflip:hover
  color: #3edab7
  background-image: url('/images/tableflip-colour.png')
