.host .graph, .host .details
  height: 200px
  width: 30%
  display: inline-block

.host h2
  margin-top: 0
  font-weight: 700

.host table
  width: 90%

.host th
  padding-bottom: 5px

.host td
  text-align: right
