// app/layout.styl

@import '../_variables'
@import '../_mixins'

highlight = #03377C
background = #181818
border = #444
link-colour = #263238

@import 'alerts.styl'
@import 'hosts.styl'
@import 'host.styl'
@import 'apps.styl'
@import 'app.styl'
@import 'processes.styl'
@import 'process.styl'
@import 'exceptions.styl'
@import 'footer.styl'

body {
  padding: 0
  margin: 0
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  .navbar-brand
    background-image: url('/images/guvnor@2x.png')

  footer a.tableflip
    background-image: url('/images/tableflip@2x.png')

  footer a.tableflip:hover
    background-image: url('/images/tableflip@2x-colour.png')

#myModal
  display: none

.navbar-toggle
  display: none

.navbar .navbar-brand
  padding: 50px 0 0 50px
  margin: 0px 5px 5px 10px
  overflow: hidden
  height: 0
  width: 0

@media (max-width: 1199px)
  .navbar .navbar-brand
    padding-top: 50px
    line-height: 30

.alert
  padding: 15px


.breadcrumb
  background-color: transparent
  margin: 0
  padding-top: 17px

  a
    color: #FFF


@media (min-width: 768px)
  .navbar-header
    float: none

a, a:hover, a:focus
  color: link-colour
