<div class="panel panel-primary logs">
  <div class="panel-heading panel-heading-logs">
    <h4 class="panel-title">{{model.name}} - Logs</h4>
    <button type="button" class="btn btn-default btn-xs logs-clear"><i class="fa fa-trash"></i> Clear</button>
    <button type="button" class="btn btn-default btn-xs logs-pin active"><i class="fa fa-paperclip"></i> Pin</button>
  </div>
  <div class="panel-body panel-logs">
    <pre class="logs" data-hook="logs"></pre>
  </div>
</div>
