<div class="panel panel-primary details">
  <div class="panel-heading">
    <h4 class="panel-title">Memory usage</h4>
  </div>
  <div class="panel-body">
    <div data-hook="memory-usage" style="width: 100%; height: 200px; margin: auto"></div>
  </div>
</div>
