<div class="panel panel-primary details">
  <div class="panel-heading">
    <h4 class="panel-title">Vital statistics</h4>
  </div>
  <div class="panel-body">
    <p>{{model.name}} is not running.</p>
    <button type="button" class="btn btn-success btn-xs process-start" data-hook="startbutton"><i class="fa fa-play"></i> Start</button>
    <button type="button" class="btn btn-warning btn-xs process-remove" data-hook="removebutton"><i class="fa fa-remove"></i> Remove</button>
  </div>
</div>
