ul.exceptions
  background-color: #181818
  display: flex
  flex-flow: row wrap

ul.exceptions, ul.exceptions ul
  list-style: none
  padding: 0
  margin: 0

ul.exceptions li
  padding: 8px 15px 5px 15px
  display: inline-block
  overflow: hidden
  text-overflow: ellipsis

ul.exceptions > li
  padding: 8px 15px
  font-weight: bold
  color: #FFF
  border-bottom: 2px solid #282828

ul.exceptions li.list
  padding: 0
  border-bottom: none
  font-weight: normal
  width: 100%

ul.exceptions li.list tr:nth-child(odd)
  background-color: #000

ul.exceptions li.list p
  background-color: #000
  padding: 8px 15px

ul.exceptions li.list ul
  border-bottom: 1px solid #282828

ul.exceptions li.list ul:hover
  cursor: pointer

ul.exceptions li.list ul:nth-child(odd)
  background-color: #080808

ul.exceptions li.list ul:hover
  background-color: #282828

ul.exceptions li.message
  -webkit-flex-grow: 2
  flex-grow: 2

ul.exceptions li.date
  width: 25%

ul.exceptions li.code
  width: 25%

ul.exceptions li.stack
  display: none

ul.exceptions li.stack.visible
  display: block
