.resource-data-graph
  width: 400px
  height: 160px
  margin: 0 auto 20px auto
  display: inline-block

.system-details
  .type, .platform, .arch, .release, .boss, .uptime
    width: 80px

@media (max-width: 320px)
  .system-details
    .type, .platform, .arch, .release
      display: none

  .resource-data-graph
    width: 260px

@media (min-width: 321px) and (max-width: 512px)
  .system-details
    .type, .platform, .arch, .release
      display: none

  .resource-data-graph
    width: 300px

@media (max-width: 640px)
  .system-details
    .type, .arch
      display: none

.resource-data
  text-align: center
