<ul>
  <li class="date">{{model.dateFormatted}}</li>
  <li class="code">{{model.code}}</li>
  <li class="message">{{model.messageOrStackSummary}}</li>
  <li class="stack"><pre><code>{{model.stack}}</code></pre></li>
</ul>
