<section class="page error">
  <div class="alert alert-danger" role="alert">
    <h4>{{model.name}} encounterd an error</h4>
    <p>Sorry it didn't work out. Maybe check the logs?</p>
  </div>
</section>
