<section class="page error">
  <div class="alert alert-danger" role="alert">
    <h4>Could not connect to {{model.name}}</h4>
    <p>Sorry it didn't work out. Maybe check the logs?</p>
  </div>
</section>
