<section class="page host">
  <div class="row">
    <div class="col-md-12">
      <h1>{{model.name}}</h1>
      <span data-hook="system"></span>
      <span data-hook="resources"></span>
    </div>
  </div>
</section>
