<tr>
  <td class="date" data-hook="date">Date</td>
  <td class="size" data-hook="size">Size</td>
  <td class="date" data-hook="path">Path</td>
  <td class="buttons">
    <button type="button" class="btn btn-default btn-xs start" data-hook="downloadbutton"><i class="fa fa-download"></i> Download</button>
    <button type="button" class="btn btn-danger btn-xs start" data-hook="removebutton"><i class="fa fa-remove"></i> Remove</button>
  </td>
</tr>
