<section class="page process">
  <div class="row">
    <div class="col-md-12">
      <h1 data-hook="process-name">{{model.name}}</h1>
      <div class="panel panel-primary table-panel exceptions">
        <div class="panel-heading panel-heading-exceptions">
          <h4 class="panel-title">Exceptions</h4>
        </div>
        <div class="panel-body panel-exceptions">
          <ul class="exceptions" data-hook="exception-list">
            <li class="date">Date</li>
            <li class="code">Code</li>
            <li class="message">Message</li>
            <li class="list" data-hook="exceptions"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
