<div class="form-group">
  <label data-hook="label"></label>
  <input class="form-control" type="text"/>
  <div data-hook="message-container">
    <div class="alert alert-danger" data-hook="message-text"></div>
  </div>
  <small data-hook="help">This is some help text</small>
</div>
