<div class="form-group">
  <input class="form-control">
  <div data-hook="field-container"></div>
  <a data-hook="remove-field">remove</a>
  <div data-hook="message-container">
    <div class="alert alert-danger" data-hook="message-text"></div>
  </div>
</div>
